@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: PragatiNarrow;
  src: url("./fonts/Pragati_Narrow/PragatiNarrow-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url("./fonts/Ubuntu/Ubuntu-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

.page-about__hero__img img, .page-services__hero__img__wrapper {
  width: 100%;
  height: 100%;
}

body {
  font-family: Poppins;
  font-weight: 500;
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button, input {
  outline: none;
}

ul {
  list-style: none;
}

.center-wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.page {
  opacity: 0;
}

.page-logo {
  background-image: url("../assets/page-logo.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100px;
  height: 45px;
  display: block;
  text-indent: -9999px;
}

@media screen and (max-height: 550px) {
  .page-nav__navbar .page-logo {
    display: none;
  }
}

.bars {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  background-color: transparent;
  border: none;
  z-index: 100;
}

.bars__line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 66%;
  height: 4px;
  display: block;
  background: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  pointer-events: none;
}

.bars__line::before, .bars__line::after {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.bars__line::before {
  top: -10px;
}

.bars__line::after {
  bottom: -10px;
}

.bars--active .bars__line {
  background-color: transparent;
}

.bars--active .bars__line::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bars--active .bars__line::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.icon--facebook,
.icon--instagram,
.icon--twitter,
.icon--whatsapp {
  width: 30px;
  height: 30px;
  margin: 0px 10px 0 0;
  display: inline-block;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  border: 2px solid white;
  border-radius: 70%;
  text-indent: -9999px;
}

.icon--facebook {
  background-image: url("../assets/icon/facebook.svg");
}

.icon--instagram {
  background-image: url("../assets/icon/instagram.svg");
}

.icon--twitter {
  background-image: url("../assets/icon/twitter.svg");
}

.icon--whatsapp {
  background-image: url("../assets/icon/whatsapp.svg");
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
}

.page-nav__navbar__item {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.page-nav__navbar__item a {
  color: white;
}

@media screen and (max-height: 550px) and (orientation: landscape) {
  .page-nav__navbar__item {
    margin-top: 10px !important;
  }
}

.page-about__hero,
.page-services__hero,
.page-blog__hero,
.page-home__hero {
  position: relative;
  min-height: calc(100vh - 100px);
  padding-bottom: 10px;
}

.page-services__hero {
  padding-bottom: 0;
}

.page-home {
  background-image: url("../assets/home.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 100vw;
  color: white;
  overflow: hidden;
}

.page-home__hero__content__left {
  text-align: center;
}

.page-home__hero__subtitle {
  color: #AF6BDD;
  font-size: 30px;
  font-family: PragatiNarrow;
  font-weight: normal;
  letter-spacing: 2px;
}

.page-home__hero__title {
  font-size: 45px;
  letter-spacing: 2px;
}

.page-home__hero__text {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.3;
}

.page-home__hero__btn {
  width: 150px;
  height: 45px;
  margin: 25px 0 0;
  border-radius: 14px;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#EC7FFC), to(#3C47A7));
  background-image: linear-gradient(to right, #EC7FFC, #3C47A7);
  color: black;
  font-size: 19px;
  font-family: Poppins;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.page-home__hero__content__right {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.page-home__hero__img {
  width: 230px;
  height: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  visibility: hidden;
}

.page-home__hero__img-1 {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.page-home__hero__img img {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.page-home__hero__img::after {
  width: 240px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#EC7FFC), to(#3C47A7));
  background: linear-gradient(to right, #EC7FFC, #3C47A7);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.page-home__hero__pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
}

.page-home__hero__pagination__item {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
  background-color: white;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
}

.page-home__hero__pagination__item::after {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.page-home__hero__pagination__item--active::after {
  background-color: #3C47A7;
}

@media screen and (max-height: 400px) {
  .page-home__hero__content__right {
    display: none;
  }
  .page-home__hero__pagination {
    display: none;
  }
}

@media screen and (max-height: 569px) {
  .page-home__hero__content__left {
    text-align: left;
  }
  .page-home__hero__subtitle {
    font-size: 24px;
    line-height: 1;
  }
  .page-home__hero__title {
    font-size: 30px;
    line-height: 1;
  }
  .page-home__hero__text {
    margin-top: 10px;
    font-size: 14px;
  }
  .page-home__hero__btn {
    width: 130px;
    height: 35px;
    margin: 15px 0 0;
    font-size: 16px;
  }
  .page-home__hero__content__right {
    width: 160px;
    height: 160px;
  }
  .page-home__hero__img {
    width: 130px;
    height: 130px;
  }
  .page-home__hero__img::after {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-height: 570px) and (max-height: 650px) {
  .page-home__hero__content__right {
    width: 200px;
    height: 200px;
  }
  .page-home__hero__img {
    width: 170px;
    height: 170px;
  }
  .page-home__hero__img::after {
    width: 190px;
    height: 190px;
  }
}

.page-about {
  background-image: url("../assets/about/cover.png"), url("../assets/about/about.png");
  background-repeat: no-repeat;
  background-size: 90% 10%, 100% 100%;
  background-position: top -100% left -10%, center center;
  max-width: 100vw;
  color: white;
  overflow: hidden;
}

.page-about__hero {
  text-align: center;
}

.page-about__hero__subtitle {
  color: #D42978;
  font-size: 27px;
  font-family: PragatiNarrow;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1;
}

.page-about__hero__title {
  display: inline-block;
  font-size: 33px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}

.page-about__hero__title::before, .page-about__hero__title::after {
  content: "";
  display: block;
  background-color: #D42978;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.page-about__hero__title::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  bottom: auto 0;
}

.page-about__hero__title::after {
  width: 44%;
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-about__hero__btn {
  margin-top: 15px;
  padding: 7px 30px;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B42D73), to(#D66599));
  background-image: linear-gradient(to bottom, #B42D73, #D66599);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.page-about__hero__pagination {
  margin-top: 15px;
  display: none;
}

.page-about__hero__pagination__item {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
}

.page-about__hero__pagination__item::after {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: block;
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
}

.page-about__hero__pagination__item--active::after {
  background-color: #B42D73;
}

.page-about__hero__text {
  margin: 15px auto 0;
  max-width: 400px;
  font-size: 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.page-about__hero__social-media {
  margin-top: 10px;
}

.page-about__hero__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 6px solid #EC7FFC;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  overflow: hidden;
}

.page-about__hero__img__wrapper {
  width: 130px;
  height: 130px;
  margin: 20px auto 0;
  display: none;
  position: relative;
}

.page-about__hero__img-1 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .page-about__hero {
    text-align: left;
  }
  .page-about__hero__subtitle {
    line-height: 1;
  }
  .page-about__hero__title::before, .page-about__hero__title::after {
    display: none;
  }
  .page-about__hero__text {
    margin-top: 10px;
    margin-left: 0;
    max-width: initial;
  }
  .page-about__hero__btn {
    margin-top: 0;
  }
}

@media screen and (min-height: 560px) {
  .page-about__hero__img__wrapper {
    display: block;
  }
  .page-about__hero__pagination {
    display: block;
  }
}

@media screen and (min-height: 650px) {
  .page-about__hero__social-media {
    margin-top: 25px;
  }
  .page-about__hero__pagination {
    margin-top: 30px;
  }
  .page-about__hero__img__wrapper {
    margin-top: 35px;
  }
  .page-about__hero__text {
    margin-top: 25px;
  }
  .page-about__hero__btn {
    margin-top: 25px;
  }
}

.page-services {
  background-image: url("../assets/services/service.png");
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
  padding-bottom: 150px;
}

.page-services__hero__discount {
  width: 200px;
  height: 75px;
  margin: 0 auto;
  position: relative;
}

.page-services__hero__discount__text {
  position: relative;
  z-index: 10;
  font-size: 45px;
  font-family: PragatiNarrow;
  font-weight: bold;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
}

.page-services__hero__discount__text--large {
  font-size: 75px;
  font-weight: 500;
  vertical-align: middle;
}

.page-services__hero__discount__bg {
  width: 120%;
  height: 120%;
  position: absolute;
  bottom: 0;
  left: -10%;
  -webkit-clip-path: polygon(0 20%, 100% 0%, 86% 100%, 6% 100%);
          clip-path: polygon(0 20%, 100% 0%, 86% 100%, 6% 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#7151C5), to(black));
  background: linear-gradient(to bottom, #7151C5, black);
}

.page-services__hero__discount::after {
  width: 120%;
  height: 120%;
  position: absolute;
  right: -10%;
  bottom: 0;
  background-image: url("../assets/services/shape.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.page-services__hero__service__item {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-services__hero__service__item-wrapper {
  position: relative;
}

.page-services__hero__service__item-wrapper::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: 43%;
  right: 10%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 2px solid white;
  opacity: 1;
  display: none;
}

.page-services__hero__service__item-wrapper::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: calc(43% + 60px);
  right: calc(10% + 27px);
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(#0D0C10), to(#7554CC));
  background: linear-gradient(to top, #0D0C10, #7554CC);
  border-radius: 50%;
  opacity: 1;
  display: none;
}

.page-services__hero__service__item__img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0D0C10), to(#7857CF));
  background-image: linear-gradient(to top, #0D0C10, #7857CF);
}

.page-services__hero__service__item__img::after {
  width: 88%;
  height: 88%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.page-services__hero__service__item__img-1::after {
  background-image: url("../assets/services/service-1.png");
}

.page-services__hero__service__item__img-2::after {
  background-image: url("../assets/services/service-2.png");
}

.page-services__hero__service__item__text {
  margin-left: -30px;
  padding-left: 40px;
  width: 200px;
  height: 40px;
  display: block;
  border: 2px solid white;
  border-radius: 25px;
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 1px;
}

.page-services__hero__contact__info {
  margin-top: 20px;
  margin-left: -45px;
  padding: 10px 30px 10px 50px;
  max-width: 300px;
  border: 2px solid white;
  font-family: Roboto;
  font-weight: 500;
  font-size: 15px;
  border-radius: 30px;
}

.page-services__hero__contact__info__item {
  display: block;
}

.page-services__hero__contact__info a {
  color: white;
}

.page-services__hero__contact__info p {
  font-weight: bold;
}

.page-services__hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.page-services__hero__subtitle {
  margin-top: 25px;
  color: #7555CC;
  font-size: 30px;
  font-family: PragatiNarrow;
  text-align: right;
  opacity: 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.page-services__hero__title {
  display: inline-block;
  position: relative;
  text-align: right;
  font-size: 60px;
  opacity: 0;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
}

.page-services__hero__title::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  display: block;
  content: "";
  background-color: #AF6BDD;
}

.page-services__hero__text {
  margin-top: 25px;
  max-width: 300px;
  font-size: 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  opacity: 0;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.page-services__hero__social-media {
  margin-top: 20px;
}

.page-services__hero__social-media a {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.page-services__hero__img {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 140px;
  max-width: 320px;
  width: 100%;
  -webkit-clip-path: ellipse(50% 55% at 22% 44%);
          clip-path: ellipse(50% 55% at 22% 44%);
  -webkit-transform: rotate(-30deg) scale(0);
          transform: rotate(-30deg) scale(0);
}

.page-services__hero__img__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.page-services__hero__img__wrapper img {
  width: 70%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .page-services {
    background-image: url("../assets/services/cover.png"), url("../assets/services/service.png");
    background-size: 25% 75%, 100% 100%;
    background-repeat: no-repeat;
    background-position: top -2% left 50%, bottom left;
  }
  .page-services__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-services__hero__discount {
    margin-right: 30px;
  }
  .page-services__hero__contact__info {
    position: fixed;
    top: 55%;
    left: -40px;
    margin: 0;
    padding: 10px 50px 10px 80px;
    max-width: 500px;
    font-size: 16px;
  }
  .page-services__hero__subtitle {
    margin-top: 40px;
  }
}

.page-blog {
  background-image: url("../assets/blog/blog.png");
  background-size: 160% 100%;
  background-position: right center;
  background-repeat: no-repeat;
  color: white;
}

.page-blog__hero {
  text-align: center;
  padding-bottom: 20px;
}

.page-blog__hero__subtitle {
  font-family: PragatiNarrow;
  font-size: 35px;
  font-weight: normal;
}

.page-blog__hero__title {
  font-size: 45px;
  color: #EC732A;
  text-transform: uppercase;
  position: relative;
}

.page-blog__hero__title::after {
  content: "";
  width: 70%;
  height: 1px;
  position: absolute;
  bottom: 10px;
  left: 0;
  background-color: #EC732A;
  display: none;
}

.page-blog__hero__img {
  width: 85%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 25px;
  overflow: hidden;
}

.page-blog__hero__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 145%;
  height: 145%;
}

.page-blog__hero__img-wrapper {
  width: 160px;
  height: 160px;
  margin: 40px auto;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EC732A), to(#EC8A2A));
  background-image: linear-gradient(to bottom, #EC732A, #EC8A2A);
  border-radius: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.page-blog__hero__link {
  margin-top: 15px;
  display: block;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
}

.page-blog__hero__line {
  width: 80%;
  height: 2px;
  margin: 20px 0 0 -20px;
  max-width: 400px;
  background-color: white;
  position: relative;
}

.page-blog__hero__line::after {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  content: "";
  border: 3px solid white;
  border-radius: 50%;
}

.page-blog__hero__btn {
  width: 100%;
  height: 55px;
  margin: 50px auto 0;
  max-width: 350px;
  display: block;
  position: relative;
  border: 2px solid #707070;
  font-size: 24px;
  color: white;
  line-height: 55px;
  text-transform: uppercase;
}

.page-blog__hero__btn::after {
  content: "";
  width: 105%;
  height: 105%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(4deg);
          transform: translate(-50%, -50%) rotate(4deg);
  border: 2px solid #707070;
  opacity: 1;
}

.page-blog__hero__text {
  margin: 30px auto 0;
  max-width: 350px;
  font-size: 14px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.6;
}

@media screen and (min-width: 500px) {
  .page-home__hero__subtitle {
    font-size: 35px;
  }
  .page-home__hero__title {
    font-size: 55px;
  }
  .page-about__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 50px;
  }
  .page-about__hero__content__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    width: 49%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .page-about__hero__subtitle {
    font-size: 40px;
    line-height: 0.4;
  }
  .page-about__hero__title {
    font-size: 47px;
  }
  .page-about__hero__title::after {
    left: initial;
    -webkit-transform: initial;
            transform: initial;
    right: 0;
  }
  .page-about__hero__img__wrapper {
    width: 180px;
    height: 180px;
    margin: 55px 0 0;
  }
  .page-about__hero__btn {
    padding: 10px 35px;
    font-size: 17px;
  }
  .page-about__hero__text {
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
  }
  .page-about__hero__pagination {
    margin-top: 40px;
  }
  .page-about__hero__content__center {
    text-align: left;
    width: 49%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media screen and (min-width: 700px) {
  .bars {
    display: none;
  }
  .page-logo {
    width: 140px;
    height: 60px;
  }
  .icon--facebook,
  .icon--instagram,
  .icon--twitter,
  .icon--whatsapp {
    width: 40px;
    height: 40px;
  }
  .page-nav__navbar {
    padding: 5px 10px;
    background-color: #AF6BDD;
    border-radius: 35px;
    visibility: visible !important;
    pointer-events: initial !important;
    opacity: 1;
  }
  .page-nav__navbar__item {
    margin-top: 0;
    padding: 5px 15px;
    display: inline-block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    font-size: 17px;
  }
  .page-nav__navbar__item a {
    color: black;
  }
  .page-nav__navbar__item--active {
    background-color: black;
    border-radius: 20px;
  }
  .page-nav__navbar__item--active a {
    color: #AF6BDD;
  }
  .page-nav__navbar__item--sm-none {
    display: none;
  }
  .page-about .page-nav__navbar {
    background-color: #B42D73;
  }
  .page-about .page-nav__navbar__item--active a {
    color: #B42D73;
  }
  .page-services .page-nav__navbar {
    background-color: #6B4DBB;
  }
  .page-services .page-nav__navbar__item--active a {
    color: #6B4DBB;
  }
  .page-blog .page-nav__navbar {
    background-color: #EC732A;
  }
  .page-blog .page-nav__navbar__item--active a {
    color: #EC732A;
  }
  .page-home__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-home__hero__content__left {
    text-align: left;
  }
  .page-home__hero__subtitle {
    font-size: 45px;
  }
  .page-home__hero__title {
    font-size: 65px;
  }
  .page-home__hero__text {
    font-size: 16px;
    line-height: 1.4;
    max-width: 500px;
    margin-left: initial;
    margin-right: initial;
  }
  .page-home__hero__btn {
    width: 180px;
    height: 55px;
    margin: 45px 0 0;
    font-size: 21px;
  }
  .page-home__hero__content__right {
    width: 330px;
    height: 330px;
    bottom: 40px;
  }
  .page-home__hero__img {
    width: 300px;
    height: 300px;
  }
  .page-home__hero__img::after {
    width: 320px;
    height: 320px;
  }
  .page-about__hero__title {
    font-size: 60px;
  }
  .page-about__hero__img__wrapper {
    width: 220px;
    height: 220px;
  }
  .page-about__hero__btn {
    padding: 11px 50px;
    font-size: 19px;
  }
  .page-about__hero__text {
    font-size: 16px;
    line-height: 1.3;
  }
  .page-about__hero__pagination__item {
    width: 25px;
    height: 25px;
  }
  .page-blog__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-blog__hero__img-wrapper {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 200px;
    height: 200px;
  }
  .page-blog__hero__subtitle {
    margin-top: 30px;
    line-height: 0.8;
    font-size: 45px;
  }
  .page-blog__hero__title {
    font-size: 65px;
  }
  .page-blog__hero__title::after {
    display: block;
  }
  .page-blog__hero__social-media {
    margin-top: 15px;
  }
  .page-blog__hero__link {
    font-size: 19px;
  }
  .page-blog__hero__line {
    width: 100vw;
    height: 2px;
    margin: 30px 0 0 calc(-100vw + 400px);
    max-width: initial;
    margin-top: 35px;
  }
  .page-blog__hero__btn {
    margin-left: 0;
  }
  .page-blog__hero__text {
    margin-left: 0;
    text-align: left;
    font-size: 16px;
  }
  .page-services__hero {
    padding-right: 20px;
  }
  .page-services__hero__discount {
    margin-top: 25px;
  }
  .page-services__hero__service__item-wrapper {
    margin-top: 20px;
    padding-right: 40px;
    position: relative;
  }
  .page-services__hero__service__item-wrapper::after {
    display: block;
  }
  .page-services__hero__service__item-wrapper::before {
    display: block;
  }
  .page-services__hero__service__item-1 {
    margin-right: 30px;
  }
  .page-services__hero__service__item-2 .page-services__hero__service__item__text {
    margin-left: -30px;
    height: 45px;
    font-size: 21px;
    line-height: 45px;
  }
  .page-services__hero__service__item__img-2 {
    width: 130px;
    height: 130px;
    margin: 20px 0 0;
  }
  .page-services__hero__subtitle {
    font-weight: normal;
    font-size: 50px;
  }
  .page-services__hero__title {
    font-size: 75px;
  }
  .page-services__hero__text {
    line-height: 1.4;
    font-size: 16px;
    max-width: 400px;
  }
  .page-services__hero__img {
    left: -40px;
    height: 250px;
    max-width: 450px;
  }
}

@media screen and (max-width: 699px) {
  .page-nav__navbar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
    background: -webkit-gradient(linear, left bottom, left top, from(#AF6BDD), to(black));
    background: linear-gradient(to top, #AF6BDD, black);
    visibility: hidden !important;
    opacity: 0 !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .page-nav__navbar__item {
    margin-top: 30px;
    display: block;
    text-align: center;
  }
  .page-nav__navbar--active {
    opacity: 1 !important;
    visibility: visible !important;
  }
}

@media screen and (min-width: 900px) {
  .center-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  .page-nav {
    height: 125px;
  }
  .page-nav__navbar {
    padding: 7px 15px;
  }
  .page-nav__navbar__item {
    font-size: 19px;
    padding: 5px 20px;
  }
  .page-about__hero,
  .page-services__hero,
  .page-blog__hero,
  .page-home__hero {
    min-height: calc(100vh - 125px);
  }
  .page-home__hero__subtitle {
    font-size: 55px;
  }
  .page-home__hero__title {
    line-height: 1;
    font-size: 75px;
  }
  .page-home__hero__text {
    margin-top: 40px;
    font-size: 18px;
  }
  .page-home__hero__content__right {
    width: 390px;
    height: 390px;
    right: 20px;
    bottom: 60px;
  }
  .page-home__hero__img {
    width: 360px;
    height: 360px;
  }
  .page-home__hero__img::after {
    width: 380px;
    height: 380px;
  }
  .page-home__hero__pagination {
    bottom: 40px;
  }
  .page-about {
    background-size: 60% 22%,cover;
    background-position: top -200% left ,center center;
  }
  .page-about__hero__title {
    font-size: 75px;
  }
  .page-about__hero__img__wrapper {
    width: 250px;
    height: 250px;
  }
  .page-about__hero__content__center {
    text-align: center;
  }
  .page-about__hero__text {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
  }
  .page-about__hero__btn {
    padding: 15px 60px;
    font-size: 21px;
  }
  .page-blog {
    background-size: 100% 100%;
  }
  .page-blog__hero__img-wrapper {
    width: 250px;
    height: 250px;
  }
  .page-blog__hero__subtitle {
    font-size: 55px;
  }
  .page-blog__hero__title {
    font-size: 75px;
  }
  .page-blog__hero__btn {
    height: 65px;
    max-width: 400px;
    font-size: 27px;
  }
  .page-services__hero__discount {
    margin-top: 40px;
  }
  .page-services__hero__service__item-wrapper {
    padding-right: 60px;
  }
  .page-services__hero__service__item__text {
    width: 240px;
    height: 45px;
    padding: 0 0 0 60px;
    font-size: 21px;
    line-height: 45px;
  }
  .page-services__hero__service__item-2 .page-services__hero__service__item__text {
    width: 260px;
    height: 50px;
    font-size: 22px;
    line-height: 50px;
  }
  .page-services__hero__service__item__img {
    width: 130px;
    height: 130px;
    margin: 20px 0 0;
  }
  .page-services__hero__service__item__img-2 {
    width: 150px;
    height: 150px;
    margin: 20px 0 0;
  }
  .page-services__hero__subtitle {
    margin-top: 70px;
    font-size: 70px;
    line-height: 0.7;
  }
  .page-services__hero__title {
    font-size: 95px;
  }
  .page-services__hero__social-media {
    margin-top: 35px;
  }
  .page-services__hero__img {
    height: 350px;
    max-width: 600px;
  }
}

@media screen and (min-width: 1100px) {
  .page-nav__navbar__item {
    font-size: 22px;
  }
  .page-home__hero__subtitle {
    font-size: 65px;
  }
  .page-home__hero__title {
    font-size: 90px;
  }
  .page-home__hero__text {
    font-size: 20px;
  }
  .page-home__hero__btn {
    width: 200px;
    height: 65px;
    margin: 45px 0 0;
    font-size: 25px;
    letter-spacing: 2px;
  }
  .page-home__hero__content__right {
    right: 60px;
    bottom: 90px;
    width: 460px;
    height: 460px;
  }
  .page-home__hero__img {
    width: 420px;
    height: 420px;
  }
  .page-home__hero__img::after {
    width: 450px;
    height: 450px;
  }
  .page-about__hero {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .page-about__hero__title {
    font-size: 85px;
  }
  .page-about__hero__img__wrapper {
    width: 320px;
    height: 320px;
    margin: 70px 0 0;
  }
  .page-about__hero__content__right {
    width: 40%;
  }
  .page-about__hero__content__center {
    width: initial;
  }
  .page-about__hero__btn {
    font-size: 24px;
    padding: 16px 70px;
    letter-spacing: 2px;
  }
  .page-about__hero__text {
    margin-top: 60px;
    font-size: 18px;
    max-width: 470px;
  }
  .page-about__hero__pagination {
    margin-top: 60px;
  }
  .page-blog__hero__title {
    font-size: 90px;
  }
  .page-blog__hero__link {
    font-size: 21px;
  }
  .page-blog__hero__img-wrapper {
    width: 300px;
    height: 300px;
    top: 20%;
    right: 15%;
  }
  .page-services__hero__discount {
    width: 250px;
    height: 95px;
    margin: 75px 0 0;
  }
  .page-services__hero__discount__text {
    font-size: 50px;
  }
  .page-services__hero__discount__text--large {
    font-size: 95px;
    line-height: 95px;
  }
  .page-services__hero__discount__text__bg {
    width: 125%;
    height: 125%;
  }
  .page-services__hero__discount__text::after {
    width: 125%;
    height: 125%;
  }
  .page-services__hero__service__item-wrapper {
    margin-top: 30px;
    padding-right: 70px;
  }
  .page-services__hero__service__item__img {
    width: 140px;
    height: 140px;
  }
  .page-services__hero__service__item__img-2 {
    width: 175px;
    height: 175px;
  }
  .page-services__hero__contact__info {
    padding: 10px 70px 10px 90px;
    line-height: 1.6;
    letter-spacing: 1px;
  }
  .page-services__hero__title {
    font-size: 110px;
  }
  .page-services__hero__text {
    margin-top: 45px;
    line-height: 2;
    font-size: 18px;
  }
  .page-services__hero__img {
    height: 420px;
    max-width: 750px;
  }
}

@media screen and (min-width: 1300px) {
  .page-blog__hero__img-wrapper {
    width: 320px;
    height: 320px;
    right: 30%;
  }
  .page-services__hero__discount {
    width: 335px;
    height: 125px;
    margin: 35px 0 0;
  }
  .page-services__hero__discount__text {
    font-size: 60px;
  }
  .page-services__hero__discount__text--large {
    font-size: 105px;
    line-height: 105px;
  }
  .page-services__hero__service__item-wrapper {
    padding-right: 120px;
  }
  .page-services__hero__service__item-wrapper::after {
    width: 60px;
    height: 60px;
    top: 43%;
    right: 25%;
  }
  .page-services__hero__service__item-wrapper::before {
    width: 40px;
    height: 40px;
    top: calc(45% + 60px);
    right: calc(25% + 33px);
  }
  .page-services__hero__service__item__text {
    width: 260px;
    height: 55px;
    padding: 0 0 0 60px;
    font-size: 23px;
    line-height: 55px;
    border-radius: 40px;
  }
  .page-services__hero__service__item-2 .page-services__hero__service__item__text {
    width: 290px;
    height: 65px;
    margin: 0 0 0 -40px;
    padding: 0 0 0 90px;
    width: 320px;
    line-height: 60px;
    font-size: 33px;
  }
  .page-services__hero__service__item__img {
    width: 160px;
    height: 160px;
  }
  .page-services__hero__service__item__img-2 {
    width: 195px;
    height: 195px;
  }
  .page-services__hero__title {
    font-size: 140px;
  }
  .page-services__hero__text {
    font-size: 20px;
  }
  .page-services__hero__contact__info {
    top: 40%;
  }
  .page-services__hero__img {
    height: 600px;
    max-width: 1000px;
  }
}
/*# sourceMappingURL=index.css.map */