.page-home{
    @include backgroundImage('home.png', cover, center center);
    min-height: 100vh;
    color:$white;

    
    .page-hero{
        &__content__left{
            text-align: center;
        }
        &__subtitle{
            color:$violet;
            font-size: 30px;
            font-family: PragatiNarrow;
            font-weight: normal;
            letter-spacing: 2px;
        }
        &__title{
            font-size: 45px;
            letter-spacing: 2px;
        }
        &__text{
            font-family: Arial, Helvetica, sans-serif, sans-serif;
            font-weight: normal;
            font-size: 15px;
            line-height: 1.3;
        }
        &__btn{
            @include size(150px,45px,25px 0 0);
            border-radius: 14px;
            border:none;
            background-image: linear-gradient(to right, $pink, $purple);
            color:$black;
            font-size: 19px;
            font-family: Poppins;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
        }

        &__content__right__img{
            margin-top: 35px;
            position: relative;
            visibility: hidden;
            opacity: 0;
            transform:scale(0);
            height: 0;
            width: 0;

            &-1{
                width:230px;
                height:230px;
                visibility: visible;
                opacity: 1;
                transform:scale(1);
            }
            img{
                @include size(90%,90%);
                @include absolute(50%,auto,auto,50%,translate(-50%,-50%),1);
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            }
            &::after{
                @include size(240px,240px);
                @include absolute(50%,auto,auto,50%,translate(-50%,-50%));
                content:"";
                display: block;
                background: linear-gradient(to right, $pink, $purple);
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

            }
        }

        &__pagination{
            @include absolute(auto,auto,20px,20px);

            &__item{
                @include size(25px, 25px, 0 10px 0 0);
                border-radius:50%;
                background-color: $white;
                border:none;
                position: relative;
                
                &::after{
                    content:'';
                    @include size(50%,50%);
                    @include absolute(50%,auto,auto,50%,translate(-50%,-50%));
                    background-color: transparent;
                    border-radius: 50%;
                    display: block;
                    transition:1s;
                }                
                &--active::after{
                    background-color: $purple;
                }
                
            }
        }
    }
}
