body{
    font-family: Poppins;
    font-weight: 500;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
button,input{
    outline:none;
}

ul{
    list-style: none;
}