@font-face{
    font-family: Poppins;
    src: url('./fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: PragatiNarrow;
    src: url('./fonts/Pragati_Narrow/PragatiNarrow-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: Ubuntu;
    src: url('./fonts/Ubuntu/Ubuntu-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}