.page-logo{
    @include backgroundImage('page-logo.svg', cover, center center);
    @include size(100px, 45px);
    display: block;
    text-indent: -9999px;

    .page-nav__navbar &{
        opacity: 0;
        transform: translateY(-50%);
    }
}

@media screen and (max-height:550px){
    .page-nav__navbar .page-logo{
        display: none;
    }
}
@mixin page-logo--sm {
    .page-logo{
        @include size(140px, 60px);
    }
}